@model GoogleCloudAspNetCore.testapp.Models.ContactModels

@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cognitivo Consulting | Digital | Design | Data</title>
    <meta name="description" content="Cognitivo Consulting is a digital and data advisory firm based in Sydney, looking to help Australian businesses transform digitally.">
    <meta name="keywords" content="digital, consulting" />
    <meta name="robots" content="index, follow" />
    <meta name="DC.title" content="Digital and data consultancy Sydney" />
    <link href="~/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="~/img/icons/Cognitivo-logo-web.png" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <meta name="description" content="">
</head>
<body>
    <!--- Wrapper Start -->
    <div id="wrapper">
        <!--- Banner Wrapper Start -->
        <div id="banner-wrapper">
            <!--- Header Start -->
            <header>
                <div id="header-inner">
                    <a href="index.html" id="logo" title=""></a>
                    <nav>
                        <a href="#" id="menu-icon"></a>
                        <ul>
                            <li>@Html.ActionLink("Home", "Index")</li>
                            <li>@Html.ActionLink("Knowledge & Resources", "Resources")</li>
                            <li>@Html.ActionLink("Our Team", "team")</li>
                            <li><a href="#" class="current">Connect</a></li>

                        </ul>
                    </nav>
                </div>
            </header>
            <!--- Header End -->
            <!--- Breadcrumbs & Title Start-->
            <section class="breadcrumbs">
                <h4>Contact Us</h4>
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
            </section>
            <div id="title">
                <h2 class="dark">Get In Touch</h2>
            </div>
            <!--- Breadcrumbs & Title End -->
        </div>
        <!--- Banner Wrapper End -->
        <!--- Left Column & Sidebar Start -->
        <section class="left-col">
            <p class="dark" style="text-indent: 6%;">Let us know if you would like to speak to us on what we do, our approach or you would like access to further information or resources.</p>
        </section>
        <section class="sidebar">
            <img src="../img/pics/562x333-flat.png">
        </section>
        <!--- Left Column & Sidebar End -->
        <div class="clearfix"></div>
        <!-- Start Contact Form -->


        @using (Html.BeginForm())
        {

            <section class="two-third" class="contact">
                <div id="contact-area">
                    <div id="contact" class="section">
                        <div class="ctn-contact">

                            @Html.LabelFor(model => model.FirstName, "First Name")
                            @Html.EditorFor(model => model.FirstName)
                            @Html.ValidationMessageFor(model => model.FirstName)




                            @Html.LabelFor(model => model.LastName, "Last Name")
                            @Html.EditorFor(model => model.LastName)


                            @Html.LabelFor(model => model.Email, "Email")
                            @Html.EditorFor(model => model.Email)


                            @Html.LabelFor(model => model.Comment, "Comments")

                            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "textarea", type = "textarea" } })

                            <div class="clearfix"></div>
                            &nbsp;
                            <input type="submit" class="subbutton" value="submit" />


                        </div>
                    </div>
                </div>
            </section>




        }

        <!--- Start Footer -->
        <footer>
            <!--- Banner Wrapper Start -->
            <div id="banner-wrapper">
                <div class="icon-text">
                    <div class="icon-text-icon">
                        <ul class="footer-nav">
                            <li>@Html.ActionLink("Home", "Index")</li>
                            <li>@Html.ActionLink("Knowledge & Resources", "Resources")</li>
                            <li>@Html.ActionLink("Our Team", "team")</li>
                            <li><a href="#" class="current">Connect</a></li>
                        </ul>
                    </div>
                    <div class="icon-text-text">
                        <ul class="social">
                            <li><a href="mailto:email@website.com" title=""><i class="fa fa-envelope-o" id="email"></i></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/18138073/"><i class="fa fa-linked-in-square" id="google-plus"></i></a></li>
                            <li><a href="https://twitter.com/cognitivo_au" target="_blank"><i class="fa fa-twitter" id="twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--- Banner Wrapper End -->
        </footer>
        <footer class="second">
            <p>&copy; Cognitivo Consulting Pty. Ltd.</p>
        </footer>
        <!--- End Footer -->
        <!--- Top Scroll Start -->
        <a href="#0" class="cd-top">Top</a>
        <script src="js/top.js"></script> <!-- Gem jQuery -->
        <script src="js/modernizr.js"></script>
        <!--- Top Scroll End -->
    </div>

        
</body>

@*@Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new { @class = "label" })
    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "textarea", type = "textarea" } })*@


