@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cognitivo Consulting is a digital and data advisory firm based in Sydney, looking to help Australian businesses transform digitally.">
    <meta name="keywords" content="digital, consulting" />
    <meta name="robots" content="index, follow" />
    <meta name="DC.title" content="Digital and data consultancy Sydney" />
	<title>Cognitivo Consulting | Digital | Design | Data</title>
	<link href="~/css/jquery.bxslider.css" rel="stylesheet" />
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="shortcut icon" type="image/png" href="~/img/icons/Cognitivo-logo-web.png"/>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<meta name="description" content="">
</head>
<body>
<!--- Wrapper Start -->
		<div id="wrapper">
<!--- Banner Wrapper Start -->
		<div id="banner-wrapper">
<!--- Header Start -->
	<header>
		<div id="header-inner">
		<a href="#" id="logo" title=""></a>
		<nav>
			<a href="#" id="menu-icon"></a>
			<ul>
				<li><a href="#" class="current">Home</a></li>
				<li>@Html.ActionLink("Knowledge & Resources", "Resources")</li>
				<li>@Html.ActionLink("Our Team", "Team")</li>
				<li>@Html.ActionLink("Connect", "Contact")</li>
                
</ul>
		</nav>
		</div>
	</header>
<!--- Header End -->
<!--- Slider Start -->
		<script src="js/jquery.bxslider.min.js"></script><!--For Image Slider-->
		<div class="slide-wrap">
			<section class="slider">
				<ul class="slider1">
					<li><img src="~/img/pics/desktop-1.png" title="" /></li>
					<li><img src="~/img/pics/desktop-2.png" title="" /></li>
					<li><img src="~/img/pics/desktop-3.png" title="" /></li>
				</ul>
			</section>
		</div>
		<script type="text/javascript">
			$('.slider1').bxSlider({
				mode: 'fade',
				captions: false,
				auto:true,
				pager:false,
				
			});
			$('.slider2').bxSlider({
				pager:false,
				captions: true,
				maxSlides: 3,
				minSlides: 1,
				slideWidth: 230,
				slideMargin: 10
			});
			$('.slider3').bxSlider({
				mode: 'fade',
				captions: false,
				auto:true,
				pager:false,
				controls:false,
			});
		</script>
<!--- Slider End -->
		</div>
<!--- Banner Wrapper End -->
<!--- Icon/Title Section Start -->
		<section class="one-third">
			<div class="icon-wrap">
				<td><i class="fa fa-map-o"></i></td>
			</div>
			<h3 class="dark">Digital Strategy</h3>
		</section>

		<section class="one-third">
			<div class="icon-wrap">
				<td><i class="fa fa-rocket"></i></td>
			</div>
			<h3 class="dark">Design Thinking Lean Innovation</h3>
		</section>
		<section class="one-third">
			<div class="icon-wrap">
				<td><i class="fa fa-line-chart"></i></td>
			</div>
			<h3 class="dark">Data & Analytics</h3>
		</section>
<!--- Icon/Title Section End -->
<div class="clearfix-padding"></div>
<!--- Left Column & Sidebar Start -->
		<section class="left-col">
			<p class="dark">We help clients develop coherent digital strategies, skills and apply relevant technologies required win in the digital age.
			<br>Businesses face entirely new ways of operating and engaging customers leading to exciting new opportunities and threats.
			<br>Building an organisation that fosters safe experimentation within wider strategic goals will be one of the keys to success. 
			</p>
		</section>
		<section class="sidebar">
			<img src="~/img/pics/computer-white.png">
		</section>

<!--- Left Column & Sidebar End -->


<div class="clearfix-padding"></div>
<!--- Row One Icon and Text Sections Start -->
	<h3 class="darkleft">What We Believe</h3>
	<article>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #7AC8B7;">
					<td><i class="fa fa-bolt"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">Empowering our clients with the skills and culture needed for them to become digital leader in the way they see fit. &amp; </p>
			</div>
		</div>
<div class="clearfix"></div>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #309FD8;">
					<td><i class="fa fa-users"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">To win, you need to put the customer at the centre of everything you do.</p>
			</div>
		</div>
	</article>
<!--- Row One Icon and Text Sections End -->
<!--- Row Two Icon and Text Sections Start -->
	<aside>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #A2B2C1;">
					<td><i class="fa fa-dollar"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">Tremendous commercial value can be derived through applications of intelligent data analysis, AI and automation.</p>
			</div>
		</div>
<div class="clearfix"></div>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #F3C559;">
					<td><i class="fa fa-lightbulb-o"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">That Australian businesses can benefit from practices and expertise normally only accessible to the largest or most technically advance firms in the world.</p>
			</div>
		</div>
	</aside>
<!--- Row Two Icon and Text Sections End -->
<div class="clearfix-padding"></div>
<h3 class="darkleft">How we need your needs</h3>
	<section class="one-third-padding">
		<h3 class="dark">Digital Strategy Advisory</h3>
		<img src="~/img/pics/strategy_puzzle.png">
		<p class="dark">We start by gaining an understand your current strategic objectives in order to help you build a digital blueprint and an organisational culture capable of iterative innovation.
</p>
	</section>
	<section class="one-third-padding">
		<h3 class="dark">Lean Innovation &amp; Design Thinking</h3>
		<img src="~/img/pics/lean_hcd.png">
		<p class="dark">We help incubate ideas within your roadmap through build / measure / learn iterations to gain customer input as early as possible. We also practice human centred design principles to narrow in on the sweet spot between desirability, commercial viability and technical feasibility.
</p>
	</section>
	<section class="one-third-padding">
		<h3 class="dark">Data, Analytics &amp; Machine Learning</h3>
		<img src="~/img/pics/analytics_hands.png">
		<p class="dark">We utilise advanced data analysis techniques to gather customer insights / sentiment to frame and test your offerings. We can also help you utilise you data to improve operational efficiency but also to wrap data around your products to make them stickier.
</p>
	</section>
<div class="clearfix"></div>
<!--- Page Callout Start -->
		<div class="page-callout">
			<p class="callout-text">See what we're capable of by getting to know our work!</p>
			<div class="button-holder">
				<a class="btn" href="portfolio.html">Portfolio</a>
			</div>
		</div>
<!--- Page Callout End -->
</div>
<!--- Wrapper End -->
<div class="clearfix-padding"></div>
<!--- Start Footer -->
	<footer>
<!--- Banner Wrapper Start -->
	<div id="banner-wrapper">
		<div class="icon-text">
			<div class="icon-text-icon">
				<ul class="footer-nav">
	                <li><a href="#" class="current">Home</a></li>
                    <li>@Html.ActionLink("Knowledge & Resources", "Resources")</li>
                    <li>@Html.ActionLink("Our Team", "team")</li>
                    <li>@Html.ActionLink("Connect", "Contact")</li>
				</ul>
			</div>
			<div class="icon-text-text">
				<ul class="social">
					<li><a href="mailto:email@website.com" title=""><i class="fa fa-envelope-o" id="email"></i></a></li>
					<li><a href="https://www.linkedin.com/company-beta/18138073/"><i class="fa fa-linked-in-square" id="google-plus"></i></a></li>
					<li><a href="https://twitter.com/cognitivo_au" target="_blank"><i class="fa fa-twitter" id="twitter"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
<!--- Banner Wrapper End -->
	</footer>
	<footer class="second">
		<p>&copy; Cognitivo Consulting Pty. Ltd.</p>
	</footer>
<!--- End Footer -->
<!--- Top Scroll Start -->
	<a href="#0" class="cd-top">Top</a>
		<script src="js/top.js"></script> <!-- Gem jQuery -->
		<script src="js/modernizr.js"></script>
<!--- Top Scroll End -->
	</div>
<!--- Wrapper End -->
</body>
</html>